APPTITLID/USRDIR/apps/XMB Manager Plus/4.21-All-Rebug
APPTITLID/USRDIR/apps/XMB Manager Plus \[RCO free\]/4.21-All-Rebug
APPTITLID/USRDIR/apps/XMB Manager Plus/4.21-CEX-Rebug
APPTITLID/USRDIR/apps/XMB Manager Plus [RCO free]/4.21-CEX-Rebug